#jinja2: lstrip_blocks: True
#backend = "etcd"
#client_cert = "/etc/confd/ssl/client.crt"
#client_key = "/etc/confd/ssl/client.key"
#confdir = "/etc/confd"
#log-level = "debug"
interval = 10
nodes = [
{% for host in etcd_hosts %}
  "http://{{ host['ip'] }}:2379"{% if not loop.last %},{% endif %}
{% endfor %}
]
#noop = false
prefix = "/{{ patroni_namespace }}/{{ patroni_scope }}"
#scheme = "https"
#srv_domain = "etcd.example.com"
